numpy
scipy
sympy

openpyxl
xlrd
#python-calamine
pandas
geopandas

matplotlib
seaborn
pyecharts
plotly

statsmodels
linearmodels
causalinference
plspm

scikit-learn
xgboost
mlxtend

torch
torchvision

pulp
mip

jieba
python-docx

duckdb
magic-duckdb

python-lsp-server
jupyterlab
jupyterlab-lsp  
pylint
autopep8
ruff
